
<div class="w3-bar w3-dark-gray">
    @Html.ActionLink("Danh sách hóa đơn", "Index", "AdminHoaDon", null, new { @class = "w3-bar-item w3-button" })
    @Html.Action("menuTTHD", "AdminHoaDon")
</div>
